<footer>
	<nav id="footer-links">
		<a
			href="https://discord.com/users/1130534537290592367"
			class="contact-link"
			aria-label="Discord"
			target="_blank"
			rel="external noopener noreferrer">
			<svg class="icon">
				<use href="#discord"></use>
			</svg>
		</a>
		<a
			href="https://github.com/GuilhermeLemos14"
			class="contact-link"
			aria-label="GitHub"
			target="_blank"
			rel="external noopener noreferrer">
			<svg class="icon">
				<use href="#github"></use>
			</svg>
		</a>
		<a
			href="https://instagram.com/kaelunyx"
			class="contact-link"
			aria-label="Instagram"
			target="_blank"
			rel="external noopener noreferrer">
			<svg class="icon">
				<use href="#instagram"></use>
			</svg>
		</a>
		<a
			href="https://en.pronouns.page/u/kaelunyx"
			class="contact-link"
			aria-label="Pronouns"
			target="_blank"
			rel="external noopener noreferrer">
			<svg class="icon">
				<use href="#pronouns"></use>
			</svg>
		</a>
		<a
			href="https://youtube.com/@Kaelunyx"
			class="contact-link"
			aria-label="YouTube"
			target="_blank"
			rel="external noopener noreferrer">
			<svg class="icon">
				<use href="#youtube"></use>
			</svg>
		</a>
		<a
			href="mailto:guilherls@proton.me"
			class="contact-link"
			aria-label="Email"
			rel="noopener noreferrer">
			<svg class="icon">
				<use href="#email"></use>
			</svg>
		</a>
	</nav>
	<p>My world is dark, but not sad.</p>
	<p>Keep wandering...</p>
	<p class="copyright">
		© {{ include.ano }} {{ include.autor }}. All rights reserved.
	</p>
</footer>
