@charset "UTF-8";

@import "/assets/css/stars.css";
@import "/assets/css/vars.css";

html {
	margin: 0;
	padding: 0;
	overflow: hidden;
	user-select: none;
}

body {
	background: linear-gradient(
		to bottom,
		var(--bg),
		hsl(from var(--cosmic-purple) h s calc(l - 16))
	);
	margin: 0;
}

#wrapper {
	color: var(--cosmic-light);
	font-family: var(--default-font);
	padding: 3rem;
	text-align: center;
	z-index: 10;
}

h1 {
	font-size: 2.5rem;
	margin-bottom: 0.5rem;
}

a {
	display: inline-block;
	margin: 1rem;
	padding: 1rem 2rem;
	background: var(--cosmic-blue);
	border-radius: 8px;
	text-decoration: none;
	color: hsl(0, 0%, 87%);
	font-weight: bold;
	transition: background 300ms linear;
}

a:hover {
	background: hsl(from var(--cosmic-blue) h calc(s - 16) calc(l - 8));
}

a:focus {
	outline: 2px solid hsl(from var(--cosmic-blue) h s calc(l - 8));
}
