@charset "UTF-8";

form {
	background-color: var(--bg);
	display: flex;
	flex-direction: column;
	gap: 16px;
	max-width: 600px;
	margin: 24px auto;
	padding: 16px;
	border: var(--border);
	border-radius: 8px;
}

label {
	font-weight: bold;
}

input,
textarea,
button {
	font-family: inherit;
}

input,
textarea {
	background-color: var(--cosmic-light);
	color: var(--cosmic-dark);
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 1rem;
}

textarea {
	resize: vertical;
	min-height: 100px;
}

button {
	padding: 10px 15px;
	background-color: var(--button-bg);
	color: var(--button-fg);
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 1rem;
}

button:hover {
	background-color: var(--button-bg-hover);
}
