@charset "UTF-8";

:root {
	color-scheme: dark; /* Isso é útil, vai por mim */

	--cosmic-purple: #6a0dad;
	--cosmic-blue: #233dff;
	--cosmic-neon: #ff00cc;
	--cosmic-dark: #0a0f2d;
	--cosmic-light: #e6e6ff;

	--cosmic-adaptive-purple: hsl(from var(--cosmic-purple) h s calc(l + 20));
	--cosmic-adaptive-blue: hsl(from var(--cosmic-blue) h s calc(l + 20));

	--body-bg: linear-gradient(
		to bottom,
		hsl(from var(--bg) h s calc(l - 4)),
		hsl(from var(--cosmic-purple) h s calc(l - 16))
	);

	--bg: var(--cosmic-dark);
	--fg: var(--cosmic-light);

	--link-fg: var(--cosmic-adaptive-blue);

	--button-bg: hsl(from var(--cosmic-light) h s calc(l - 4));
	--button-bg-hover: hsl(from var(--cosmic-light) h calc(s - 4) calc(l - 12));
	--button-fg: var(--cosmic-purple);

	--border-color: #555;
	--border: 1px solid var(--border-color);

	--default-font: "Space Grotesk", sans-serif;
}
