<!doctype html>
<html lang="en-CA">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>404 Page Not Found</title>
		<link
			rel="shortcut icon"
			href="https://kaelunyx.space/public/favicon.ico"
			type="image/x-icon" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;600&display=swap"
			rel="stylesheet" />
		<!-- 404.css would be the exact same thing as index.html so I don't want to create a new file for this style -->
		<link rel="stylesheet" href="/assets/css/pages/index.css" />
		<script src="/assets/js/pages/stars.js"></script>
	</head>
	<body>
		{% include toggle_stars.html %}
		<div id="wrapper">{{ content }}</div>
		{% include stars.html %}
	</body>
</html>
